ul, span, button, body{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    background: #D0757C;
    padding-top: 20px;
    box-sizing: border-box;
}
.header__categorue{
    text-transform: uppercase;
    color: #FEFDFF;
    font-size: 50px;
    font-weight: 700;
    opacity: 0.5;
    cursor: default;
}
.colored{
    opacity: 1;
}
.other{
    margin-left: 100px;
    transition: all 0.5s;
}
.list{
    width: 1210px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.other:hover{
    opacity: 0.8;
}
.information{
    width: 805px;
    color: #FEFDFF;
    font-size: 20px;
    font-weight: 500;
    margin-left: 355px;
    margin-bottom: 150px;
}
.medium__wrapper{
    width: 1100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.medium__button-left-arrow, .medium__button-right-arrow{
    width: 100px;
    height: 100px;
    border: none;
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
}
.medium__button-left-arrow:hover, .medium__button-right-arrow:hover{
    opacity: 0.8;
}
.medium__timer, .medium__temperature, .medium__load{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    box-sizing: border-box;
}
.medium__timer{
    background: #373335;
}
.medium__temperature{
    background: #2F2B2D;
}
.medium__load{
    background: #1E1A1D;
}
.timer__timer-text, .temperature__temperature-text, .load__load-text{
    color: #C47C7F;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.timer__timer-categorue, .temperature__temperature-categorue, .load__load-categorue{
    color: #FFFDFF;
    font-size: 30px;
    font-weight: 600;
}
.button-start{
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    color: #FEFDFF;
    font-size: 20px;
    background: black;
    border: none;
    border-radius: 6px;
    margin-left: 537.5px;
    transition: all 0.5s;
    cursor: pointer;
}
.button-start:hover{
    transform: translateY(-25px);
}